<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio - Web - CoderDojo</title>
</head>
<body>
    <div style ="text-align: center;" >
        <img src="https://media1.tenor.com/m/u_UF3R3i8c4AAAAC/trumppapertowels-excited.gif" alt="confettis" style="width: 500px; height: 500px; object-fit:fill;">
        <p>Parabéns!!!</p>
        <p>Segredo: "a ter uma das melhores"</p>
    </div>
</body>
</html>